<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube-UI</title>
     <link rel="stylesheet" href="../static/style.css"> 
</head>
<body>
     <!-------header-section----->
<section class="header-section">
    <div class="container">
            <div class="header">
                  <div class="logo">
                        <img src="../images/menu.png" alt="pic" class="menu">
                        <img src="../images/logo.png" alt="pic" class="logo-pic">
                   </div>
                   <div class="search-bar">
                        <div class="search">
                             <input type="text" placeholder="Search">
                             <img src="../images/search.png" alt="pic">
                        </div>
                        <div class="voice">
                             <img src="../images/voice-search.png" alt="pic" >
                        </div>
                   </div>
                   <div class="header-icons">
                         <img src="../images/upload.png" alt="pic">
                         <img src="../images/more.png" alt="pic">
                         <img src="../images/notification.png" alt="pic">
                         <img src="../images/Jack.png" alt="pic" class="jack">
                   </div>
            </div>
    </div>
</section>
             <!-------body-section---->
<section class="body-section">
<div class="container">
<div class="row">

              <!-------sidebar-section----->
       <div class="col-lg-2">
        <div class="sidebar-section">
             <div class="shortcut">
                        <a href="#"><img src="../images/home.png"><p>Home</p></a>
                        <a href="#"><img src="../images/explore.png"><p>Explore</p></a> 
                       <a href="#"><img src="../images/subscriprion.png"><p>Subscription</p></a> 
                       <a href="#"><img src="../images/library.png"><p>Library</p></a>
                       <a href="#"><img src="../images/history.png"><p>History</p></a>
                       <a href="#"><img src="../images/playlist.png"><p>Playlist</p></a>
                       <a href="#"><img src="../images/messages.png"><p>Messages</p></a>
                       <a href="#"><img src="../images/show-more.png"><p>Show More</p></a>
             </div>
             <hr>
              <div class="subscribed">
                   <h3>Subscribed</h3>
                    <a href="#"><img src="../images/Jack.png"><p>Python</p></a>
                    <a href="#"><img src="../images/simon.png"><p>Java</p></a> 
                    <a href="#"><img src="../images/tom.png"><p>Javascript</p></a> 
                    <a href="#"><img src="../images/megan.png"><p>React</p></a>
                    <a href="#"><img src="../images/cameron.png"><p>C</p></a>
                    <a href="#"><img src="../images/Jack.png"><p>C++</p></a>
                    
            </div>
    </div>
</div>
    
              <!-------main-section--------->
   <div class="col-lg-10 col-md-12">
    <div class="video-page">
    <div class="row">
            <!----banner-->
            <div class=" banner col-lg-12">
                <a href="#"> <img src="../images/banner.png"></a>
            </div>
             
                <div class="video col-lg-3 col-md-6">
                    <a href="./videoplayer.html"><img src="../images/thumbnail1.png" class="thumbnail"></a> 
                <div class="flex-div">
                    <img src="../images/Jack.png" alt="user-picture">
                <div class="video-info">
                    <a href="#">It is a long established fact that a reader will be distracted.</a>
                    <p>JACK</p>
                    <p>2M Views </p>
                </div>
               </div>
              </div>
               <div class="video col-lg-3 col-md-6">
                    <a href="#"><img src="../images/thumbnail2.png" class="thumbnail"></a>
                <div class="flex-div">
                    <img src="../images/Jack.png" alt="user-picture">
                <div class="video-info">
                    <a href="#">It is a long established fact that a reader will be distracted.</a>
                    <p>JACK</p>
                    <p>2M Views </p>
                </div>
               </div>
              </div>
                    <div class="video col-lg-3 col-md-6">
                    <a href="#"><img src="../images/thumbnail3.png" class="thumbnail"></a>
                <div class="flex-div">
                    <img src="../images/Jack.png" alt="user-picture">
                <div class="video-info">
                    <a href="#">It is a long established fact that a reader will be distracted.</a>
                    <p>JACK</p>
                    <p>2M Views </p>
                </div>
               </div>
              </div>
               <div class="video col-lg-3 col-md-6">
                    <a href="#"><img src="../images/thumbnail4.png" class="thumbnail"></a>
                <div class="flex-div">
                    <img src="../images/Jack.png" alt="user-picture">
                <div class="video-info">
                    <a href="#">It is a long established fact that a reader will be distracted.</a>
                    <p>JACK</p>
                    <p>2M Views </p>
                </div>
               </div>
              </div>
               <div class="video col-lg-3 col-md-6">
                    <a href="#"><img src="../images/thumbnail5.png" class="thumbnail"></a>
                <div class="flex-div">
                    <img src="../images/Jack.png" alt="user-picture">
                <div class="video-info">
                    <a href="#">It is a long established fact that a reader will be distracted.</a>
                    <p>JACK</p>
                    <p>2M Views </p>
                </div>
               </div>
              </div>
               <div class="video col-lg-3 col-md-6">
                    <a href="#"><img src="../images/thumbnail6.png" class="thumbnail"></a>
                <div class="flex-div">
                    <img src="../images/Jack.png" alt="user-picture">
                <div class="video-info">
                    <a href="#">It is a long established fact that a reader will be distracted.</a>
                    <p>JACK</p>
                    <p>2M Views </p>
                </div>
               </div>
              </div>
               <div class="video col-lg-3 col-md-6">
                    <a href="#"><img src="../images/thumbnail7.png" class="thumbnail"></a>
                <div class="flex-div">
                    <img src="../images/Jack.png" alt="user-picture">
                <div class="video-info">
                    <a href="#">It is a long established fact that a reader will be distracted.</a>
                    <p>JACK</p>
                    <p>2M Views </p>
                </div>
               </div>
              </div>
        <div class="video col-lg-3 col-md-6">
                    <a href="#"><img src="../images/thumbnail8.png" class="thumbnail"></a>
            <div class="flex-div">
                    <img src="../images/Jack.png" alt="user-picture">
                <div class="video-info">
                    <a href="#">It is a long established fact that a reader will be distracted.</a>
                    <p>JACK</p>
                    <p>2M Views </p>
                </div>
            </div>
              </div>
           
        </div>
        </div>
    </div>
        
  </div>  
 </div>
 </section>
    <!----SCRIPT-->
    <script src="../script/script.js"></script>
</body>
</html>