<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>video player</title>
    <link rel="stylesheet" href="../static/style.css"> 
</head>
<body>
    <!--header section-->
    <section class="header-section">
        <div class="container">
                <div class="header">
                      <div class="logo">
                            <img src="../images/menu.png" alt="pic" class="menu">
                            <img src="../images/logo.png" alt="pic" class="logo-pic">
                       </div>
                       <div class="search-bar">
                            <div class="search">
                                 <input type="text" placeholder="Search">
                                 <img src="../images/search.png" alt="pic">
                            </div>
                            <div class="voice">
                                 <img src="../images/voice-search.png" alt="pic" >
                            </div>
                       </div>
                       <div class="header-icons">
                             <img src="../images/upload.png" alt="pic">
                             <img src="../images/more.png" alt="pic">
                             <img src="../images/notification.png" alt="pic">
                             <img src="../images/Jack.png" alt="pic" class="jack">
                       </div>
                </div>
        </div>
    </section>
    <div class="play-container">
        <div class="rows">
            <div class="play-video">
                <video controls>
                    <source src="../images/video.mp4" type="video/mp4">
                </video>
            <div class="tags">
                 <a href="#">#Coding</a>
                 <a href="#">#JavaScript</a>
                 <a href="#">#Fullstack development</a>
                 <a href="#">#HTML</a>
            </div>
            <br>
            <h2>Fullstack Web Development-Youtube UI clone</h2>
            <div class="play-video-info">
                <p>1M views ; 2 days ago</p>
                <div>
                    <a href="#"><img src="../images/like.png">125</a>
                    <a href="#"><img src="../images/dislike.png"></a>
                    <a href="#"><img src="../images/share.png">45</a>
                     <a href="#"><img src="../images/save.png">Save</a>
               </div>
               <hr>
               
            </div>
            <hr>
            <div class="publisher">
                <img src="../images/jack.png">
                <div>
                    <p>swetha_v</p>
                    <span>502k Subscribers</span>
                </div>
                <button type="button">Subscribe</button>
            </div>
            <div class="video-description">
                <p>This is a channel focused on building Tech videos</p>
                <p>This is to help learners to learn stuff easily</p>
                <hr>
                <h4>150 Comments</h4>
                <div class="add-comment">
                  <img src="../images/jack.png" >
                  <input type="text" placeholder="Write comments..."> 
                </div>
                <div class="old-comments">
                  <img src="../images/gerard.png">
                  <div>
                    <h3>Gerard<span>3 days ago</span></h3>
                    <p>This is a fullstack Development.Here we are learning the projects with the help of developing the clone of other website.</p>
                    <div class="comment-action">
                        <img src="../images/like.png">
                        <span>300</span>
                        <img src="../images/dislike.png">
                        <span></span>
                        <span>Reply</span>
                        <a href="#">All replies</a>
                  </div>

                  </div>  
                </div>
                <div class="old-comments">
                    <img src="../images/gerard.png">
                    <div>
                      <h3>Gerard<span>3 days ago</span></h3>
                      <p>This is a fullstack Development.Here we are learning the projects with the help of developing the clone of other website.</p>
                      <div class="comment-action">
                          <img src="../images/like.png">
                          <span>300</span>
                          <img src="../images/dislike.png">
                          <span></span>
                          <span>Reply</span>
                          <a href="#">All replies</a>
                    </div>
  
                    </div>  
                  </div>
                  <div class="old-comments">
                    <img src="../images/gerard.png">
                    <div>
                      <h3>Gerard<span>3 days ago</span></h3>
                      <p>This is a fullstack Development.Here we are learning the projects with the help of developing the clone of other website.</p>
                      <div class="comment-action">
                          <img src="../images/like.png">
                          <span>300</span>
                          <img src="../images/dislike.png">
                          <span></span>
                          <span>Reply</span>
                          <a href="#">All replies</a>
                    </div>
  
                    </div>  
                  </div>
                  <div class="old-comments">
                    <img src="../images/gerard.png">
                    <div>
                      <h3>Gerard<span>3 days ago</span></h3>
                      <p>This is a fullstack Development.Here we are learning the projects with the help of developing the clone of other website.</p>
                      <div class="comment-action">
                          <img src="../images/like.png">
                          <span>300</span>
                          <img src="../images/dislike.png">
                          <span></span>
                          <span>Reply</span>
                          <a href="#">All replies</a>
                    </div>
  
                    </div>  
                  </div>
            </div>

            </div>
            <!---right-side-->
           <div class="right-sidebar">
             <div class="side-video-list">
                <a href="#" class="small-thumbnail">
                    <img src="../images/thumbnail1.png">
                </a>
                <div class="vid-info">
                    <a href="#">This is a fullstack Development course.</a>
                    <p>Welcome Home</p>
                    <p>1M views &bull; 2days ago</p>
                </div>
             </div>
             <div class="side-video-list">
                <a href="#" class="small-thumbnail">
                    <img src="../images/thumbnail1.png">
                </a>
                <div class="vid-info">
                    <a href="#">This is a fullstack Development course.</a>
                    <p>Welcome Home</p> 
                    <p>1M views &bull; 2days ago</p>
                </div>
             </div>
             <div class="side-video-list">
                <a href="#" class="small-thumbnail">
                    <img src="../images/thumbnail1.png">
                </a>
                <div class="vid-info">
                    <a href="#">This is a fullstack Development course.</a>
                    <p>Welcome Home</p>
                    <p>1M views &bull; 2days ago</p>
                </div>
             </div>
             <div class="side-video-list">
                <a href="#" class="small-thumbnail">
                    <img src="../images/thumbnail1.png">
                </a>
                <div class="vid-info">
                    <a href="#">This is a fullstack Development course.</a>
                    <p>Welcome Home</p>
                    <p>1M views &bull; 2days ago</p>
                </div>
             </div>
             <div class="side-video-list">
                <a href="#" class="small-thumbnail">
                    <img src="../images/thumbnail1.png">
                </a>
                <div class="vid-info">
                    <a href="#">This is a fullstack Development course.</a>
                    <p>Welcome Home</p>
                    <p>1M views &bull; 2days ago</p>
                </div>
             </div>
             <div class="side-video-list">
                <a href="#" class="small-thumbnail">
                    <img src="../images/thumbnail1.png">
                </a>
                <div class="vid-info">
                    <a href="#">This is a fullstack Development course.</a>
                    <p>Welcome Home</p>
                    <p>1M views &bull; 2days ago</p>
                </div>
             </div>
             <div class="side-video-list">
                <a href="#" class="small-thumbnail">
                    <img src="../images/thumbnail1.png">
                </a>
                <div class="vid-info">
                    <a href="#">This is a fullstack Development course.</a>
                    <p>Welcome Home</p>
                    <p>1M views &bull; 2days ago</p>
                </div>
             </div>
             <div class="side-video-list">
                <a href="#" class="small-thumbnail">
                    <img src="../images/thumbnail1.png">
                </a>
                <div class="vid-info">
                    <a href="#">This is a fullstack Development course.</a>
                    <p>Welcome Home</p>
                    <p>1M views &bull; 2days ago</p>
                </div>
             </div>
           </div>








        </div>
    </div>











    <!--Script-->
    <script src="../script/script.js"></script>
</body>
</html>